@page
@model JournalWebApplication.Pages.UnauthorizedMethods.GetStudentsModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Id)
            </th><th>
                @Html.DisplayNameFor(model => model.Student[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudyGroup)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td><td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyGroup.GroupName)
                </td>
            </tr>
        }
    </tbody>
</table>