@page
@model JournalWebApplication.Pages.NotesCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Notes CRUD</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].NoteDef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Lesson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Note) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteDef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.dateTime)
            </td
            ><td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
